.button {
  background: white;
  color: black;
  font-weight: 900;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.button:hover {
  /* background: white;
  color: black;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 8px; */
  filter: drop-shadow(-2px 1px 26px rgba(255, 255, 255, 0.56));
}
