.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.containerBackground {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  padding: 60px 60px 0 0;
}
.contentImg {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}
.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: rotateY(179deg);
}
.degradado {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(90deg, #000000 35.87%, rgba(0, 0, 0, 0) 100.73%);
}
.contentDescription {
  height: 100vh;
  z-index: 40;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 200px 0px 160px 183px;
  color: #fff;
}
.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h1 {
  font-family: GothamBold;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.38em;
  margin-bottom: 30px;
}

.title p {
  font-family: GothamBook;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  width: 420px;
  /* margin-bottom: 100px; */
}

.conexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.conexion div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0 30px 0;
}

.conexion p {
  margin: 0 0 0 10px;
  /* padding-bottom: 30px; */
  font-size: 2 0px;
}
.conexion img {
  width: 25px;
  height: 25px;
}

.conexion:hover {
  filter: drop-shadow(-1px 5px 19px rgba(255, 255, 255, 0.54));
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
}

.img {
  position: absolute;
  bottom: 40%;
  width: 190px;
}
@media (max-width: 1440px) {
  .contentDescription {
    padding: 200px 0px 160px 183px;
  }
  .title h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .title p {
    font-size: 20px;
    width: 420px;
  }
  .conexion {
    margin: 0 0 70px 0;
  }
  /* .conexion div {
    align-items: center;
    margin: 0px 0 30px 0;
  } */
  .conexion p {
    margin: 0 0 0 10px;
    font-size: 20px;
  }
  .conexion img {
    width: 15px;
    height: 15px;
  }
  .img {
    width: 150px;
    bottom: 40%;
  }
}

@media (max-width: 900px) {
  .degradado {
    background: linear-gradient(
      180deg,
      #000000 -1.3%,
      #000000 41.41%,
      rgba(87, 87, 87, 0.155) 98.7%
    );
  }
  .contentDescription {
    width: 100%;
    padding:130px 0 50px 0;
  }
  .containerBackground {
    padding: 20px 20px 0 0;
    z-index: 41;
  }
  .title h1 {
    font-size: 25px;
  }

  .title p {
    font-size: 18px;
    width: 310px;
  }

  .conexion {
    margin: 0;
  }
  .conexion div {
    align-items: center;
    margin: 0px 0 30px 0;
  }
  .conexion p {
    margin: 0 0 0 10px;
    font-size: 18px;
  }
  .conexion img {
    width: 15px;
    height: 15px;
  }
  .img {
    width: 150px;
    bottom: 0;
  }
}

@media (max-width: 425px) {
  .contentDescription {
    padding: 130px 0 50px 0px;
  }
  .title h1 {
    font-size: 20px;
  }

  .title p {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 50px;
  }
  .conexion {
    margin: 0;
  }
  .conexion div {
    align-items: center;
    margin: 0 0 20px 0;
  }

  .conexion p {
    font-size: 15px;
    margin: 0 0 0 10px;
  }
  .conexion img {
    width: 10px;
    height: 10px;
  }
  .img {
    bottom: 0;
    width: 112px;
  }
}
@media (max-height: 700px) {
  .contentDescription {
    padding: 60px 10px 20px 10px;
  }
  .title h1 {
    font-size: 20px;
  }

  .title p {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 50px;
  }
  .conexion {
    margin: 0;
  }
  .conexion div {
    align-items: center;
    margin: 0 0 20px 0;
  }

  .conexion p {
    font-size: 15px;
    margin: 0 0 0 10px;
  }
  .conexion img {
    width: 10px;
    height: 10px;
  }
  .img {
    bottom: 0;
    width: 112px;
  }
}
